/*  Main.css
    Thursday, 23 April, 2015
    Alexander Rhett Crammer
    Web Standards Project
    Full Sail University  */

/* Master Reset */
html,body,div,span,applet,object,iframe,table,caption,tbody,tfoot,thead,tr,th,td,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{vertical-align:baseline;font-family:inherit;font-weight:inherit;font-style:inherit;font-size:100%;outline:0;padding:0;margin:0;border:0}:focus{outline:0}body{background:#fff;line-height:1;color:#000}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{font-weight:400;text-align:left}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}

/* Structure */
body {
  background-color: #555;
  background-image: url("../Images/OneMadisonPark.jpg");
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1em;
}

.container {
  margin: 2.5% auto;
  overflow: auto;
  width: 90%;
}

/* Top Bar */
.navbar {
  border: 0;
  background-image: linear-gradient(to top, #53dee5, #69e9ef);
}

.navbar a {
  color: #fff !important;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.navbar a:first-of-type {
  font-size: 0.75em;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.navbar a:not(:first-of-type) {
  text-indent: -4.36919716%;
}

img[alt="Logo.png"] {
  height: 200%;
  position: relative;
  top: -50%;
}

form[role="search"] input[type="text"] {
  text-indent: 10px;
}

/* Mint Buttons */
.mint-button {
  background-color: #73e6bf;
  border: 2px solid #73e6bf; /* Starting border -- Prevents border animating from #000 or gray, one of which is the default */
  color: #fafafa;
  letter-spacing: 0.04457401164em;
  padding: 1.5318823004% 2.0425097338%;
  transition: background-color 125ms, border-color 125ms;
}

a.mint-button:hover, .mint-button:hover {
  background-color: #7eefc9;
  border: 2px solid #54c9a2;
}

a.mint-button:active, .mint-button:active {
  background-color: #4cb491;
  border-color: #5cc7a4;
}

/* Fonts */
@font-face {
    font-family: "Museo Slab";
    font-weight: 500;
    src: url("../Fonts/MuseoSlab.otf");
}

/* Media Queries */
@media only screen
  and (max-width: 1000px) {
    /* 1000px and wider */
    
    /* Top Bar */
    #navigation-list {
      /* Move the navigation list to the right */
      float: right;
    }
    
    form[role="search"] {
      /* Hide the search feature */
      display: none !important;
    }
  }

@media only screen
  and (max-width: 768px) {
    /* 768px and thinner */
    
    /* Top Bar */
    #navigation-list {
      text-align: center;
      width: 100%;
    }
  }

/*  Search
    Thursday, 23 April, 2015
    Alexander Rhett Crammer
    Web Standards Project
    Full Sail University  */

/* Property Search CTA */
#property-search {
  text-align: center;
}

#property-search input[type="text"] {
  border: 2px solid #eaeaea;
  border-radius: 7.5px;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.05457401164em;
  margin: 7.5% auto;
  padding: 2.1829592742% 3.2744389112%;
  transition: border 175ms;
  width: 65%;
}

#property-search input[type="text"]:hover {
  font-style: italic;
}

#property-search input[type="text"]:active {
  font-style: italic;
}

#property-search input[type="submit"] {
  border-radius: 5px;
  margin-left: 2.5%;
}

/* Unslider's Barebones */
.slidesies {
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    margin-top: 7.5%;
    overflow: auto;
}

.slidesies li {
    list-style: none;
}

.slidesies ul li {
    float: left;
}

/* Unslider Slides */
.slidesies ul li h1 {
  color: #555;
  font-size: 1.75em;
  letter-spacing: 0.05em;
  padding: 4.0736160617%;
  text-indent: 1.745835455%;
  text-transform: uppercase;
  width: 50%;
}

.slidesies ul li p {
  color: #777;
  float: left;
  line-height: 175%;
  padding: 5%;
  width: 45%;
}

.slidesies ul li img {
  border-radius: 10px;
  float: right;
  margin: -8% 3.5% 2.5%;
  width: 45%;
}