/*  New.css
    Tuesday, 14 April, 2015
    Alexander Rhett Crammer
    Web Standards Project
    Full Sail University  */

/* Entire Form */
form {
    margin-top: 4.8828125% !important;
    overflow: auto;
}

.fields {
    /* Columns */
    background-color: rgba(255,255,255,0.9);
    margin: 15px 0;
    padding: 15px;
}

.form-section-title {
    /* Column titles */
    border-bottom: 1px solid #888;
    color: #555;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* Form Fields */
label[for="a"], label[for="p"] {
    
}

form input[type="submit"] {
    margin-top: 15%;
}